*{
    box-sizing: border-box;
}
html{
    margin: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://i.ibb.co/VpxcTJG/pattern-Pokeball.png), linear-gradient(#b8b8b8 2.5px, transparent 2.5px), linear-gradient(to right, #b8b8b8 2.5px, transparent 2.5px);
    background-size: 150px, 32px 32px, 32px 32px;
    background-color: #ffffff;
}
h1{
    font-size: 2.4rem;
    margin: 1.2rem 0;
}
p{
    font-size: 1.2rem;
    margin: 0.6rem 0;
}
.searchbar{
    display: flex;
    width: 400px;
    margin: auto;
    border: solid 3px #000;
    border-radius: 26px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
input[type="text"]{
    flex-grow: 1;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}
.searchbar-btn{
    cursor: pointer;
    outline: none;
    border: none;
    line-height: 0;
    padding: 0;
    background-color: inherit;
}
.card{
    margin: 2rem auto;
    width: 600px;
    border: solid 3px #000;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 26px;
}
#pokemon-sprite{
    width: 300px;
}
